.footer{
    padding-top: 30px;
    height: 150px;
    background: white;
    z-index: 1;
    min-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around; 
}
.footer-content{
    width: 1000px;   
}
.lan{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.lan ul{
    flex-wrap: wrap;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-direction: row;
}
.lan li{
    font-size: 12px;
    padding-left: 14px;
    display: flex;
    color: #4267b2;
    writing-mode: horizontal-tb;
}
.lan li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.seperator{
    border-top: 1px #dddfe2 solid;
}

.ui-list{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: grey;
}
.ui-list i{
    font-size: 45px;
    margin-right: 60px;
}
.ui-list i:hover{
    cursor: pointer;
    color: #4267b2;
}
