.sign-in-bar{
    border-bottom: 1px solid #29487d;
    background: rgb(78,105,162);
    background: linear-gradient(180deg, rgba(78,105,162,1) 0%, rgb(48, 77, 138) 100%);
    height: 83px;
    color: white;
    display: flex;
    min-width: 1000px;
    margin: auto;
    padding: 0px 20px;
}
.content{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

}
.mugbook-text{
    font-size: 40px;
    font-weight: bold;
}
.sign-in-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.input{
    margin-left: 7px;
    margin-right: 7px;
    font-size: 12px;
}
.input p{
    margin-bottom: 3px;
}

.submit-button{
    background-color: #4267b2;
    border: 1px solid #29487d;
    font-size: 11px;
    color: white;
    height: 24px;
    width: 50px;
}

