.profile-page{
    width: 981px;
    margin: auto;
    background: #e9ebee;
}
.profile-content{
    display: flex;
}
.profile-post-index{
    margin-top: 2px;
    margin-left: 5px;
    width: 523px;
}