.search-bar{
    background: #4267b2;
    height: 38px;
    border-bottom: #28487d solid 1px;
    margin: auto;
    position: fixed;
    width: 100%;
}
.search-content{
    width: 1000px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.search-content input{
    width: 550px;
    max-width: 550px;
    min-width: 140px;
    background: pink;
}