.link{
    display: flex;
    height: 30px;
    width: 87%;
    margin: auto;
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 5px;
}
.link:hover{
    cursor: pointer;
    background: #f2f3f5;
}
.link img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    padding-right: 10px;
}
.link p{
    padding-top: 3px;
}