.news-feed{
    width: 1000px;
    margin: auto;
    padding-top: 12px;
}

.n-f-content{
    display: flex;
    margin-top: 38px;
    background: #e9ebee;
}
.options-sec{
    background: white;
    border: 1px solid #d3d5db;
    border-radius: 5px;
    width: 200px;
    height: 400px;
    margin-right: 5px;
    margin-right: 805px;
    position: fixed;

}

.post-sec{
    width: 500px;
    margin-left: 209px;
    margin-right: 5px;

}

.adds-sec{
    width: 300px;
    height: 500px;
    background: white;
    border: 1px solid #d3d5db;
    border-radius: 5px;   
    position: fixed;
    margin-left: 718px;
}