.n-f-postform{

}
.form-header{
    background: #f5f6f7;
    border: solid 1px #dddfe2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pic-textarea img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.pic-textarea{
    background: white;
    display: flex;
    height: fit-content;
}
.pic-textarea textarea{
    width: 100%;
    font-size: 20px;
    // overflow: auto;
    height: auto;
}
.form-footer{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 49px;
    background: white;
    border-top: 1px solid #e9ebee;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.form-footer p{
    text-align: center;
    text-align: -webkit-match-parent;
}