.n-f-postform{

}
.form-header{
    background: #f5f6f7;
    border: solid 1px #dddfe2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pic-textarea img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.pic-textarea{
    background: white;
    display: flex;
    border-left: solid 1px #dddfe2;
    border-right: solid 1px #dddfe2;
    padding-top: 10px;
    box-sizing: border-box;
    height: 75px;
}
.pic-textarea textarea{
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    color: black;
}
.form-footer{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 49px;
    background: white;
    border-top: 1px solid #e9ebee;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    border-left: solid 1px #dddfe2;
    border-right: solid 1px #dddfe2;
    border-bottom: solid 1px #dddfe2;
}

.form-footer p{
    padding: 10px 10px;
    text-align: center;
    text-align: -webkit-match-parent;
    border-radius: 25px;
    background-color: #f5f6f7;
}
.form-footer p:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.form-footer button{
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 27px;

}

.search-bar-pic{
    width: 24px;
    height: 24px;
    border-radius: 24px;
}